<div class="bg-gradient-primary height-100vh">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
                    <p class="mb-4" style="font-size:14px">
                      Please enter your new password to reset your password!
                    </p>
                  </div>
                  <form class="user" #fconfirm="ngForm" (ngSubmit)="onSubmit(fconfirm);">
                    <div class="form-group ">
                     
                      <input type="password" [(ngModel)]="model.Password" name="Password" class="form-control form-control-user" required
                             placeholder="Password" #Password="ngModel" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="30" autocomplete="off" [ngClass]="{'is-invalid':Password.invalid && (fconfirm.submitted || Password.touched)}" />

                      <div *ngIf="Password.invalid && (fconfirm.submitted || Password.touched)" class="invalid-feedback ml-2">
                        <div *ngIf="Password.errors.required">New password is required.</div>
                        <div *ngIf="Password.errors.pattern">Must contain at least one number and one uppercase and lowercase letter and at least 8 or more characters.</div>
                      </div>
                    </div>

                    <div class="form-group ">
                     
                      <input type="password" [(ngModel)]="model.confirmpassword" name="confirmpassword" class="form-control form-control-user"
                              placeholder="Confirm New Password" required #confirmpassword="ngModel" autocomplete="off" pattern="{{ Password.value }}" [ngClass]="{'is-invalid':confirmpassword.invalid && (fconfirm.submitted || confirmpassword.touched)}" />

                      <div *ngIf=" confirmpassword.invalid && (fconfirm.submitted || confirmpassword.touched)" class="invalid-feedback ml-2">
                        <div *ngIf="confirmpassword.errors.required">Confirm new password is required. </div>
                        <div *ngIf="confirmpassword.errors.pattern">New password & confirm new password do not match.</div>
                      </div>
                    </div>

                    <button [disabled]="(Password.invalid)" class="btn btn-primary btn-user btn-block">
                      Reset Password
                    </button>
                    <!--<button type="button" [routerLink]="['/Login']" class="btn btn-secondary router-link btn mb-4" placement="top">Cancel</button>-->

                    <div>

                    </div>

                  </form>

                  <hr>
                  <div class="text-center">
                    <a class="small" [routerLink]="['/Signup']">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" [routerLink]="['/Login']">Already have an account? Login!</a>
                  </div>
                </div>
                <p class="mb-3 text-muted text-center font-13" >
                  © {{year}} Webtalkx, Inc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>