<div style="display: block;" class="card">
    <div class="card-body">
        <h3>Bar Chart......</h3>
        <div class="col-md-6 my-2">
            <canvas baseChart id="myChart"
            [colors]="barChartColors"
            [datasets]="barChartData"
            [labels]="barChartLabels"
           
            [plugins]="barChartPlugins"
            [legend]="barChartOptions"
            [chartType]="barChartType"
            [options]="barChartOptions"
           >
          </canvas>
        </div>
    </div>
    
  </div>
 
