.txt_head{
    font-size: 10em;
}


.txt_lbl{
    text-transform: none;
    letter-spacing: 0;
    font-size: 2.5em;
    color: green;
}

.txt_lbl1{
    text-transform: none;
    letter-spacing: 0;
    font-size: 1em;
    color: #aaa;
}