
  
  <div class=" height-100vh  align-items-center">
  <div class=" container" style="max-width: 100%; text-align: center;">
   
    <div class="card-body  my-5">
        <div>
            <h1 class="font-weight-bold text-danger my-2 txt_head">404</h1>
        </div>
        <div>
          <h1 class="font-weight-bold  my-2 txt_lbl">Oops!! PAGE NOT FOUND</h1>
      </div>
     
    <div>
        <p class="small txt_lbl1">This page does not exist. Please check Url.</p>
    </div>
   
      <div>
        <button type="button" [routerLink]="['/Login']" class="btn btn-primary btn-sm rounded-pill">Go back</button>
      </div>
        
    </div>
  </div>
</div>
