<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-0">
    <li class="breadcrumb-item"><a [routerLink]="['/I2BApplication/Dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Recordings</li>
  </ol>
</nav>

<div class="pcoded-wrapper common-table-content">
  <div class="col-sm-12 p-0">
    <div class="card">
      <div class="card-header bg-blue">
        <div class="common-font">My Recordings</div>
      </div>
      <div class="card-body relative">

        <div>
          <app-recording-catalog-types  (recordingTypeName)="receiveChildData($event)"></app-recording-catalog-types>
        </div>

        <!--Accordion section started-->
        <div class="col-md-12 catalog_cont my-3" #catalog_cont>
          <!-- <div class="row custom-header font-weight-bold">
            <div class="col-md-8">Title</div>
            <div class="col-md-2">Description</div>
            <div class="col-md-1">No of responses</div>
            <div class="col-md-1">Start date</div>
            <div class="col-md-1">End date</div>
          </div> -->

          <div class="dt-responsive selectlist font-14">
            <div class="dataTables_wrapper dt-bootstrap4" id="add-row-table_wrapper">
              <div class="col-sm-12 p-0" *ngIf="RecordingRequestList?.length > 0">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead class="custom-header">
                    <tr role="row">
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Requestor Name</th>
                      <th>Project Name</th>
                      <th>Request Date</th>
                      <!-- <th>Start Date</th>
                      <th>End Date</th> -->
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row-list-detail {{request.ID}}" *ngFor="let request of RecordingRequestList">
                      <td>
                        <div class="center-align">
                          <div class="checkbox-info d-inline bold-font">
                            <!-- <button class="play-interview margin-zero btn btn-icon btn-rounde btn-outline-blue" title="Click here to start recording" type="button" id="{{request.ID}}">
                              <i class="feather icon-play-circle" id="{{request.ID}}"></i>
                            </button> -->
                            <button type="button" class="play-interview btn btn-circle cursor-pointer btn-sm" (click)="replayRecording($event, request.ID, request)" title="Click here to replay the recording" id="{{request.ID}}">
                              <i class="fa fa-play-circle blue-text font-28" id="{{request.ID}}"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="vertical-middle" id="infoIcon">
                        <div class="i-block card-dots-button catalog-info cursor-pointer" id="information" title="Click here to get more information." (click)="getSelectedRowInfo(request, request.ID, $event)">
                          <i class="fa fa-info-circle btn_blue font-25 blue-text" id="informationIcon"></i>
                        </div>
                      </td>
                      <td class="vertical-middle" id="shareIcon">
                        <div class="i-block card-dots-button catalog-share cursor-pointer" id="share" title="Click here to share catalog." (click)="getReviewerList(request, request.ID, $event)">
                          <i class="fas fa-fw fa-share-alt btn_blue font-25 blue-text" id="shareIcon"></i>
                        </div>
                      </td>

                      <td class="">
                        <span class="user-info " id="{{request.AuthorID}}" attr.username="name_{{request.AuthorID}}" (click)="getUserInfo($event, request.AuthorID, request.AuthorName)" title="Send message to {{request.AuthorName}}"><a href="JavaScript:Void(0);"><strong>{{request.AuthorName | titlecase}}</strong></a></span>
                      </td>

                      <td class="catalog-info" title="{{request.ProjectName || request.MeetingName}}">
                        <div class="req_title textOverflow">{{request.ProjectName || request.MeetingName}}</div>
                      </td>
                      <td><span>{{request.InsertDate | date:'MM/dd/yyyy' }}</span></td><!-- hh:mm aa-->
                      <!-- <td><span>{{request.StartDate | date:'MM/dd/yyyy' }}</span></td>
                      <td><span>{{request.EndDate | date:'MM/dd/yyyy' }}</span></td> -->

                      <td>

                        <div class="center-align">
                          <div class="checkbox-info d-inline font-weight-bold">
                            {{request.FinalStatus}}
                          </div>
                        </div>
                      </td>

                      <td class="">
                        <i class="fas fa-trash cursor-pointer" style="color: #e74a3b;" (click)="deleteConfirm(request.ID)" data-toggle="modal" data-target="#recordingDeleteModel"></i>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="" *ngIf="RecordingRequestList?.length == 0">
                <h6 class="data-msg">No recording request available.</h6>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<!--company details model-->
<div class="modal fade modal-slide right" id="catalogdetailsmodel" tabindex="-1" role="dialog" aria-labelledby="catalogdetailsmodelLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <app-user-catalog-modal [data]="catalog_record" [questionList]="questionList" [userData]="user_record" (sendReplayData)="getReplayData($event)"></app-user-catalog-modal>
  </div>
</div><!--modal body closed-->


<!--recording player popup-->
<div class="modal fade" id="recordingPlayerModel" tabindex="-1" role="dialog" aria-labelledby="recordingDeleteModelLabel" aria-hidden="true">
  <div >
    <app-replay-player-modal [video_url]="video_url"></app-replay-player-modal>
  </div>
</div>


<!--Send Message model-->
<div class="modal fade sendmsgmodel" id="sendmsgmodel" tabindex="-1" role="dialog" aria-labelledby="sendmsgmodelLabel" aria-hidden="true">
  <div class="modal-dialog formsg" role="document">
    <div class="modal-content modal-container">
      <div class="modal-header not">
        <div class="left-header">
          <h6 class="common-font-blue">Send To : {{full_name}}</h6>
        </div>
        <div class="right-header">
          <button type="button" class="close out" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body modal-content-tab no-paddin padding-to overflow-auto">
        <div class="form-group">
          <label class="font-weight-bold">Send message</label>
          <textarea maxlength="500" class="form-control form-control-user usertextmsg padding-5 common-fon -full-width mb-2 mt-2" required name="usertextmsg" #usertextmsg="ngModel" [(ngModel)]="model.usertextmsg" id="usertextmsg" rows="3"></textarea>
        </div>

      </div><!--modal body closed-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
        <!--Added below code to disabled the submit button until user not selecting tentering the text-->
        <button type="button" data-dismiss="modal" class="btn btn-primary float-right send-text" title="Send" id="{{receiver_id}}" attr.senderid="{{sender_id}}" (click)="sendMessage(sender_id, receiver_id, model.usertextmsg)" [disabled]="(usertextmsg.invalid)">Send</button>
      </div>
    </div>
  </div>
</div>


<!--Send Message model-->
<div class="modal messagenotification" id="messagenotification" tabindex="-1" role="dialog" aria-labelledby="messagenotificationLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-container alert">
      <div class="modal-header edit-header in">
        <div class="left-header">
          <h6 class="common-font-blue">Alert</h6>
        </div>
        <div class="right-header">
          <button type="button" class="close out" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body modal-content-tab no-paddin padding-to overflow-auto">
        <div class="form-group mr-2">
          <p class="mr- my no-margin form-group control-width">You are logged in user. <br /><br />Sending a message to itself is not allowed.</p>
        </div>
      </div><!--modal body closed-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--Confirmation modal to remove the messages-->
<div class="modal fade" id="recordingDeleteModel" tabindex="-1" role="dialog" aria-labelledby="recordingDeleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="Send-replay" id="exampleModalLabel">Confirm delete</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body all-around-padding">
        <p>Are you sure to delete this recording request?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="removeRecordingRequest()" class="btn btn-danger mr-4" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>



<!--Modal to share the recording to the reviewer-->
<div class="modal catalogShareModel" id="catalogShareModel" tabindex="-1" role="dialog" aria-labelledby="catalogShareModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header not">
        <div class="" id="exampleModalLabel">Send recording</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body all-around-padding common-table-content">
        <div class="send-recordingfield">
          <!--Select Reviewer field start-->
          <div class="form-group row">
            <div class="col-md-11">
              <label class="font-weight-bold required-form-field">To</label>
              <ng-autocomplete class="autocomplete-cont test auto_model" required
                               #ReviewerID="ngModel"
                               name="ReviewerID"
                               [(ngModel)]="model.ReviewerID"
                               [data]="reviewerlist"
                               [searchKeyword]="keyword"
                               placeHolder="Share with"
                               (selected)='selectEvent($event)'
                               (inputChanged)='onChangeSearch($event)'
                               (inputFocused)='onFocused($event)'
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               (inputCleared)="clearEventStatic()">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <span [innerHTML]="item.FirstName +' '+item.LastName +' ('+item.EmailID +')'"></span>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
              <div *ngIf="(ReviewerID.touched || ReviewerID.dirty) && ReviewerID.errors" class="invalid-error industry_list">
                <div *ngIf="ReviewerID.errors?.required">Share with is required.</div>
              </div>
            </div>
            <div class="col-md-1 form-group">
              <!--Add reviewer button-->
              <label class="font-weight-bold"></label>
              <button type="button" (click)="createNewReviewer(NewReviewerForm)" data-dismiss="modal" class="btn-sm btn btn-primary mt-2 m-0" title="Click here to add the new reviewer." data-toggle="modal" data-target="#reviewerModal"><span aria-hidden="true">+</span></button>
            </div>
          </div>
          <!--Select Reviewer field end-->
          <!--Text field start-->
          <div class="form-group">
            <label class="font-weight-bold">Title</label>
            <input type="text" id="title-text" class="form-control form-control-user" name="ReviewTitle" #ReviewTitle="ngModel" [(ngModel)]="model.ReviewTitle" placeholder="Please type a Title.">
          </div>
          <!--Text field end-->
          <!--Message field start-->
          <div class="form-group">
            <label class="font-weight-bold">Message</label>
            <textarea maxlength="500" class="form-control form-control-user usertextmsg padding-5 -full-width mb-2 mt-2" name="ReviewMessage" placeholder="Please type a message." #ReviewMessage="ngModel" [(ngModel)]="model.ReviewMessage" id="message-text" rows="3"></textarea>
          </div>
          <!--Message field end-->
        </div>
      </div>
      <div class="modal-footer">
        <!--<div *ngIf="ReplayCount == 0" class="errorVid float-right">
          You cannot share the reference recording as you don't have the replay counts.
        </div>-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="sendRecordingInvitationToReviewer(model)" [disabled]="(ReviewerID.invalid)" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
<!--Modal to share the recording to the reviewer end-->
<!--Modal to create the new reviewr-->
<div class="modal" id="reviewerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header not">
        <div class="" id="exampleModalLabel">Register a contact for sharing</div>
        <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#catalogShareModel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body all-around-padding">
        <form name="form" class="" #NewReviewerForm="ngForm" novalidate>
          <div class="input-group">
            <div class="col-md-12">
              <div class="form-group">
                <label class="font-weight-bold required-form-field">Email</label>
                <input type="email" class="form-control form-control-user" name="Email" [(ngModel)]="model.Email" id="Email" (keyup)="onEmailEnter(model.Email)"
                       #Email="ngModel" spellcheck="false" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z0-9.-_]{2,}[.]{1}[a-zA-Z]{2,}" autocomplete="off" required />
                <div *ngIf="Email.invalid &&  Email.touched" class="invalid-error">
                  <div *ngIf="Email.errors.required" class="invalid-erro">
                    Email is required.
                  </div>
                </div>
                <div *ngIf="Email.errors && Email.errors.pattern" class="invalid-error">
                  Email is invalid.
                </div>
                <span class="invalid-error">{{erroruser}}</span>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold required-form-field">First name</label>
                <input type="text" class="form-control form-control-user" name="FirstName" #FirstName="ngModel"
                       [(ngModel)]="model.FirstName" id="FirstName" pattern='^[a-zA-Z]*$' required maxlength="25" autocomplete="off" />
                <div *ngIf="FirstName.invalid &&  FirstName.touched" class="invalid-error">
                  <div *ngIf="FirstName.errors.required" class="erro">First name is required. </div>
                </div>
                <div *ngIf="FirstName.errors && FirstName.errors.pattern" class="invalid-error">
                  White spaces, special characters and digits are not allowed.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold required-form-field">Last name</label>
                <input type="text" class="form-control form-control-user" name="LastName" pattern='^[a-zA-Z]*$' #LastName="ngModel"
                       [(ngModel)]="model.LastName" id="LastName" required maxlength="25" autocomplete="off" />
                <div *ngIf="LastName.invalid &&  LastName.touched" class="invalid-error">
                  <div *ngIf="LastName.errors.required" class="erro">Last name is required. </div>
                </div>
                <div *ngIf="LastName.errors && LastName.errors.pattern" class="invalid-error">
                  White spaces, special characters and digits are not allowed.
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#catalogShareModel" class="btn btn-secondary">Cancel</button>
        <!-- data-dismiss="modal" data-toggle="modal" data-target="#catalogShareModel"-->
        <button type="button" (click)="createReviewer(model)" *ngIf="!isActiveUser" [disabled]="(Email.invalid || FirstName.invalid || LastName.invalid)" class="btn btn-primary">Create</button>
        <button type="button" (click)="createReviewer(model)" *ngIf="isActiveUser" [disabled]="(Email.invalid || FirstName.invalid || LastName.invalid)" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
<!--Modal to create the new reviewr end-->
